// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// COLORS:

$color-dark-blue: rgb(5, 5, 83);
$color-very-light-blue: rgb(212, 243, 251);
$color-light-blue: rgb(184, 234, 247);
$color-grey: rgb(240, 240, 240);
$color-dark-grey: rgb(213, 213, 213);
