.investment-container {
  display: none;
  grid-column: 1 / 6;
}

.individual-investment {
  display: grid;
  grid-template-columns: repeat(4, 1fr) min-content;
  align-items: center;
  justify-content: space-between;
  background-color: $color-grey;
  grid-gap: 2rem;
  width: 100%;
  padding: 1.4rem 0rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.3rem 1rem rgba(black, 0.3);

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &-date {
    grid-template-columns: 1 / 2;
  }

  &-price {
    grid-template-columns: 2 / 3;
  }

  &-numshares {
    grid-template-columns: 3 / 4;
  }

  &-invested {
    grid-template-columns: 4 / 5;
  }

  &-sell {
    grid-template-columns: 5 / 6;
  }

  &-icon {
    height: 2rem;
    width: 2rem;
    fill: black;
    cursor: pointer;
  }
}
