.heading {
  &-1 {
  }

  &-2 {
    font-size: 4rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  &-3 {
    font-size: 2.5rem;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }
  }

  &-4 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba($color-dark-blue, 0.6);
  }
}

.main-text {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-dark-blue;
}

.deposit-error-message {
  color: red !important;
  text-align: center !important;
  padding-top: 2rem !important;
}
