.overlay {
  background-color: rgba(black, 0.15);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.center-text {
  text-align: center !important;
}

.text-alert {
  color: red !important;
  font-style: bold !important;
}

.smooth-reveal {
  display: block !important;
}
