.functions {
  display: flex;
  justify-content: space-between;
  background-color: $color-light-blue;
  padding: 3rem;
  grid-row: 1 / 2;

  &-left,
  &-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
